@font-face {
  font-family: "Mattone";
  src: url("../../asset/fonts/Mattone-150.woff2") format("woff2"),
    url("../../asset/fonts/Mattone-150.woff2") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");

$colorBg: #e6e5df;
$colorTxt: black;
$colorSecondary: #f6af91;
$lineWidth: 2px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style-type: none;

  &::selection {
    background: $colorSecondary;
  }
}

html {
  background: $colorBg;
}

body {
  font-family: "Mattone";
  font-size: 14px;
  color: $colorTxt;

  .container {
    display: grid;
    overflow: hidden;
    background: $colorTxt;
    min-height: 100vh;
    gap: $lineWidth;
    grid-template-rows: 75px 51px 34% 1fr 72px;
    grid-template-columns: 216px 1fr 123px 37%;
    grid-template-areas:
      "header  header    header    header"
      "heading covermain covermain before"
      "heading covermain covermain before"
      "heading covermain covermain preorder"
      "nav     nav       nav       footer";

    & > *,
    &:before {
      background: #e6e5df;
    }

    .header {
      grid-area: header;
      position: relative;
      display: grid;
      place-items: center;

      .header-brand {
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 2px;
        user-select: none;
      }

      .header-burger {
        position: absolute;
        right: 57px;
        height: 15px;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
        padding: 20px 0;

        &:before,
        &:after {
          content: "";
          width: 100%;
          height: 4px;
          background: $colorTxt;
          left: 0;
          position: absolute;
          transition: width 0.3s ease;
        }
        &:before {
          top: 10px;
        }
        &:after {
          bottom: 10px;
        }

        &:hover {
          &:before {
            width: 90%;
          }
          &:after {
            width: 70%;
          }
        }
      }
    }

    .nav {
      grid-area: nav;

      .nav-menu {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .nav-item {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: $lineWidth;
            background: $colorTxt;
            transition: transform 0.3s ease;
            transform-origin: center right;
            transform: scaleX(0);
          }
          &:hover {
            &:before {
              transform-origin: center left;
              transform: scaleX(1);
            }
          }
        }

        .nav-item:not(:last-child) {
          margin-right: 10px;
        }
        .nav-item:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    .heading {
      grid-area: heading;
      display: grid;
      place-items: center;

      .heading-title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-orientation: mixed;
        font-family: "Josefin Slab", serif;
        font-size: clamp(30px, 15vh, 130px);
      }
    }

    .cover-main {
      grid-area: covermain;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../../asset/img/cover-main.jpeg");
    }

    .cover-bis {
      grid-area: 3 / 3 / 4 / 5;
      border: solid $lineWidth $colorTxt;
      border-right: none;
      transform: translateY($lineWidth);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../../asset/img/cover-bis.jpeg");
    }

    .preorder {
      grid-area: preorder;
      display: grid;
      place-items: center;

      & > * {
        grid-area: 1 / 1 / 2 / 2;
      }

      .preorder-draw {
        width: 263px;
        transform: translateY(-10px);
        fill: $colorSecondary;
        z-index: 0;
      }

      .preorder-link {
        position: relative;
        z-index: 1;
        padding: 50px 100px 50px 0;

        &:after,
        &:before {
          content: "";
          position: absolute;
          right: 0px;
        }

        &:before {
          width: 90px;
          height: $lineWidth;
          background: $colorTxt;
          top: 50%;
          transform: translateY(-50%);
          transition: width 0.3s ease;
        }

        &:after {
          height: 5px;
          width: 5px;
          border-top: solid $lineWidth $colorTxt;
          border-right: solid $lineWidth $colorTxt;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          border-radius: 1px;
        }

        &:hover {
          &::before {
            width: 65px;
          }
        }
      }
    }

    .footer {
      grid-area: footer;
      display: flex;
      align-items: center;
      padding: 0 56px;
      justify-content: space-between;
      text-align: right;

      &:before {
        content: "";
        height: 10px;
        width: 10px;
        background: $colorTxt;
        border-radius: 50px;
      }
    }

    &:before {
      content: "";
      grid-area: before;
    }
  }
}
